a { 
	color: #004A7B; 
}
a:hover{ 
	color: #06e; 
}
#top-nav{
	padding-bottom:10px;
}
.nspArt a{
	display:inline !important;
}
.nspArt a img{
	display:inline !important;	
}
.nspArt h4.nspHeader{
	display:inline !important;	
}
#nsp-nsp_102 div.nspArt img{
	width:120px !important;
}
#brands{
	clear:left;
}
#nsp-nsp_102 span.nspPrev {
    background: url("../img/brands_left_arrow.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 19px;
    left: 0;
    margin-right: 10px;
    margin-top: 22px;
    position: absolute;
    top: 8px;
    width: 12px;
}
#nsp-nsp_102 span.nspNext {
    background: url("../img/brands_right_arrow.png") no-repeat scroll 0 0 transparent;
    display: block;
    float: right;
    height: 19px;
    left: 731px !important;
    margin-right: 10px;
    margin-top: 22px;
    position: absolute;
    top: 8px;
    width: 12px;
}
#nsp-nsp_101 span.nspPrev{
	position:relative;
    left: -30px;
	height:10px;
	background:url(../img/slider_prev.png) 0 0 no-repeat !important;
}
#nsp-nsp_101 span.nspNext{
	background:url(../img/slider_next.png) 0 0 no-repeat !important;
	position:relative;
    left: -30px;
	height:10px;
}
#special-offers span.ie6fix{
    display: block;
    font-size: 18px;
    padding-left: 13px;
    padding-top: 8px;
    width: 152px;
}
#actions-discounts span.ie6fix{
    display: block;
    font-size: 18px;
    padding-left: 13px;
    padding-top: 8px;
}
#news.news-block-title a{
	color:red !important;
}
#slider{
	height:182px;
}
.prev-button{
	display:block !important;
	left:-370px !important;
	top:-15px;
	opacity:1 !important;
}
.next-button{
	display:block !important;
	left:336px !important;
	top:-15px;
	opacity:1 !important;
}
.cfdiv_submit input{
	margin-left:306px !important;
}
* html #menu{ zoom: 1; }
#catalog ul li a{
	position:relative;
	z-index:20000;
}
#catalog ul li {
	position:relative;
	z-index:20000;
}









