/*
 * ChronoCMS (chronocms.com)
 * Copyright 2010 - chronocms.com
 *
 * @license		Commercial
 * Redistributions of files must retain the above copyright notice.
 */
/* FORM WIZARD STYLES */
div.m {background-color: white;}
.dragable {
	border: 1px solid #eeeeee; 
	z-index: 1000;	 
	padding: 5px 3px; 
	background-color: #FFEDD4;
	background-image: none; 
	width: 212px;
	/*margin: 9px 0;*/
	font-weight: bold;
}
.toggler { background-color: #f5f5f5; padding: 3px; display: block; border: 1px solid #f0f0f0; font-size:12px; font-weight: bold;}
.elements_list { margin-bottom: 2px; padding-bottom: 5px;}
.elements_list .dragable {/*width: 160px; margin: 9px 0;*/ text-indent:5px; cursor: move; border: 1px solid #eeeeee; padding: 5px 3px; background: url(formwizard/drag.png) no-repeat right center; background-color:#FFEDD4; font-weight: bold; }
.elements_list .dragable:hover { border: 2px solid #000; background-color: #9BC4F2; padding: 5px 2px;}


.droppable { background-color: #f4f4f4; border-top: 1px solid #dedede; border-bottom: 1px solid #dedede; padding: 10px 0 1px; min-height: 150px;}
.droppable input,
.droppable label { float: left; width: 110px; padding-left: 6px;}
.droppable input { width: 150px; }
.droppable .element_tools_visible { position: absolute; text-align: right; right: 12px; top: 18px; width: 55px; }
.wizard_element { position: relative; padding: 11px 5px 7px; background-color: #fbfbfb; border: 1px solid #dddddd; margin:0 10px 10px 10px;}
.element_config { padding: 10px 0 0 6px; }

.temp_div_container {  display:block; clear: left; padding-left: 30px; margin-left: 85px;}
.temp_div_container label { width: 70px; } 
.temp_div_container input[type="checkbox"] { clear: left; }
#droppable_area_elements input[type="checkbox"],
#droppable_area_elements input[type="radio"] { width: 30px; padding-left: 0; margin-right: 0; }
#droppable_area_elements input[type="radio"] { clear: left; }
.input_checkbox_group_element_view label.text_label,
.input_radio_element_view label.text_label  { position: absolute; top: 11px; left: 3px; }  

.dragable {
	position: relative;
	top: 0px;
	left: 0px;
}

.dragable_action {
	position: relative;
	top: 0px;
	left: 0px;
}

.droppable {
	min-width:100%;
}

.element_code {
	display:none;
}

.element_config {
	display:none;
}

.element_tools{
	display:none;
}

/*.cx_form_elements{
	font-family: Tahoma;
	font-size:12px;
}*/

.action_label{
	display: block;
	float: none !important;
	width : 85% !important;
}

.form_event{
	position: relative;
	padding: 11px 5px 7px;
	background-color: #fbfbfb;
	border: 1px solid #dddddd;
	margin:0 10px 10px 10px;
}

.main_event{
	min-height:100px;
}

.form_event_label{
	display: block;
	float: none !important;
	width: 80% !important;
	margin: 0px;
}

.form_event .clear{
	height: 0px;
}

.form_event .wizard_element{
	padding-top: 1px;
}

.good_event{
	background-color: #ccff89;
}

.bad_event{
	background-color: #ffaaaa;
}

.edit_element{
	cursor : pointer;
}

.delete_element{
	cursor : pointer;
}

.sort_element{
	cursor : n-resize;
}

.fixedSaveDiv{
	position: absolute;/*relative;*/
	width: 570px;
	background-color: white;
	text-align: right;
	z-index: 99999;
}

#field_settings {
	min-height: 500px !important;
}

#action_settings {
	min-height: 500px !important;
}

#actions_accordion {
	/*min-height: 400px !important;
	max-height: 400px !important;
	overflow: scroll;*/
}

.actions_accordion_pane{
	/*overflow: auto !important;
	max-height: 300px;*/
}

.elements_accordion_pane{
	/*overflow: auto !important;
	max-height: 300px;*/
}

#sbox-btn-apply {
	position: absolute;
	width: 64px;
	height: 24px;
	right: -67px;
	top: 25px;
	background: url(../images/confirm.png) no-repeat scroll left center white;
	text-align: right;
	border: none;
	color: black;
	text-decoration: none;
	line-height: 22px;
	padding: 3px 3px 3px 0px;
	font-weight: bold;
}

.sbox-window-ie6 #sbox-btn-apply {
	background-image: url(../images/apply.png);
}

#EventsOperations{
	padding: 0px 5px;
	margin: 0px 10px;
	height: 30px;
	cursor: pointer;
}

.add_event{
	float: left;
	margin: 3px 0px;
}

.fullscreen{
	top:0;
	left:0;
	position: absolute;
	z-index:999;
	width:100%;
	height:100%;
}

.normalscreen{
	top:0;
	left:0;
	position: relative;
	z-index:999;
	width:100%;
	height:100%;
}

.floating-tip {
	background-color: black;
	padding: 5px 15px;
	color: #dddddd;
	font-weight: bold;
	z-index:1999;
	font-size: 11px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.floating-tip-error {
	background-color: #b5181f;
	padding: 5px 15px;
	color: #fff;
	font-weight: bold;
	z-index:1999;
	font-size: 11px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.tooltip_container{
	max-width: 300px;
	padding:0;
	margin:0;
}

.tooltip-header{
	font-size:12px;
	font-weight:bold;
}